@font-face {
  font-family: 'CG';
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: 'CG';
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'CG';
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

body {
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    text-decoration: none;
    color: #000000; }

textarea,
textarea:hover,
textarea:focus,
input,
input:hover,
input:focus,
select:hover,
select:focus {
  outline: none; }

.btn-purp, .header-nav-link, .trand-product::after, .products-item {
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear; }

.btn-purp {
  padding: 15px 40px;
  background: linear-gradient(265.97deg, #b777be -9.18%, #88488f 103.05%);
  font-size: 12px;
  font-weight: 700;
  font-family: "Montserrat";
  border: none;
  color: #fff;
  cursor: pointer;
  border: 2px solid #b777be;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase; }
  .btn-purp:hover {
    background: linear-gradient(265.97deg, #b777be -30%, #88488f 80%);
    color: #fff; }
  .btn-purp svg {
    margin-left: 15px; }
  .btn-purp:focus {
    outline: none; }

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto; }

.main-title {
  font-size: 48px;
  font-weight: 500;
  font-family: "CG"; }

.header-social-phone, .main_slider-block, .trand, .service_block,
.d-f {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.justify-content-start {
  -webkit-box-pack: start !important;
  -webkit-justify-content: flex-start !important;
  -moz-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.justify-content-end {
  -webkit-box-pack: end !important;
  -webkit-justify-content: flex-end !important;
  -moz-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important; }

.main_slider-block,
.justify-content-center {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -moz-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.justify-content-start {
  -webkit-box-pack: start !important;
  -webkit-justify-content: flex-start !important;
  -moz-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.justify-content-end {
  -webkit-box-pack: end !important;
  -webkit-justify-content: flex-end !important;
  -moz-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important; }

.service_block,
.justify-content-between {
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
  -moz-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }

.justify-content-around {
  -webkit-justify-content: space-around !important;
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important; }

.main_slider-block,
.align-items-start {
  -webkit-box-align: start !important;
  -webkit-align-items: flex-start !important;
  -moz-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.header-social-phone,
.align-items-end {
  -webkit-box-align: end !important;
  -webkit-align-items: flex-end !important;
  -moz-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important; }

.trand,
.align-items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -moz-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.align-items-baseline {
  -webkit-box-align: baseline !important;
  -webkit-align-items: baseline !important;
  -moz-box-align: baseline !important;
  -ms-flex-align: baseline !important;
  align-items: baseline !important; }

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -webkit-align-items: stretch !important;
  -moz-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }

.align-content-start {
  -webkit-align-content: flex-start !important;
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important; }

.align-content-end {
  -webkit-align-content: flex-end !important;
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important; }

.align-content-center {
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important; }

.align-content-between {
  -webkit-align-content: space-between !important;
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important; }

.align-content-around {
  -webkit-align-content: space-around !important;
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important; }

.align-content-stretch {
  -webkit-align-content: stretch !important;
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important; }

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: row !important;
  -moz-box-orient: horizontal !important;
  -moz-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important; }

.main_slider-block,
.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
  -moz-box-orient: vertical !important;
  -moz-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

.flex-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  -webkit-flex-direction: row-reverse !important;
  -moz-box-orient: horizontal !important;
  -moz-box-direction: reverse !important;
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -webkit-flex-direction: column-reverse !important;
  -moz-box-orient: vertical !important;
  -moz-box-direction: reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important; }

header {
  background-color: #fff; }

.hamburger {
  display: none; }

.header-mobile-nav {
  display: none; }

.header-social-mobile {
  display: none; }

.header {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 13px; }
  .header-nav-link {
    font-size: 13px;
    font-weight: 400;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #000000; }
    .header-nav-link:hover {
      color: #b777be; }
  .header-social-links a {
    display: inline-block; }
  .header-social-links a + a {
    margin-left: 10px; }
  .header-social-phone {
    margin-right: 30px;
    flex-direction: column; }
    .header-social-phone div {
      font-size: 16px;
      font-weight: 400;
      font-family: "Montserrat";
      color: #000000;
      letter-spacing: 0.2em; }
    .header-social-phone p {
      font-size: 12px;
      font-weight: 400;
      font-family: "Montserrat";
      color: #b777be;
      margin-top: 5px; }
  .header-logo {
    padding: 15px 0; }
  .header-location-title {
    font-size: 12px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #000000; }
    .header-location-title:nth-child(2) {
      color: #b777be;
      margin-top: 7px; }
  .header-location-info {
    margin-left: 30px; }
  .header-location-item h5 {
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat";
    margin-left: 5px; }
  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.main_slider-block {
  height: 100%; }
.main_slider-btn {
  margin-top: 50px; }
.main_slider-info-item + .main_slider-info-item {
  margin-left: 18px; }
.main_slider-info {
  margin-top: 70px; }
.main_slider-info-item {
  max-width: 221px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat";
  line-height: 20px;
  color: #6a6a6a;
  position: relative; }
  .main_slider-info-item::after {
    content: '';
    width: 42px;
    height: 1px;
    background-color: #b777be;
    position: absolute;
    left: 0;
    top: -20px; }
.main_slider-sub-title {
  font-size: 46px;
  font-weight: 500;
  font-family: "CG";
  letter-spacing: 0.1em;
  line-height: 56px; }
.main_slider-title {
  font-size: 60px;
  font-weight: 600;
  font-family: "CG";
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
.main_slider-item {
  width: 100%;
  height: calc(100vh - 150px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.trand {
  margin-top: 100px; }
  .trand_left {
    width: 70%;
    margin-left: auto; }
  .trand-product {
    width: calc(33.33% - 30px);
    margin: 15px;
    position: relative;
    cursor: pointer; }
    .trand-product::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 0;
      left: 0; }
    .trand-product:hover::after {
      background-color: rgba(255, 255, 255, 0); }
    .trand-product img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .trand-products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; }
  .trand_sub-title {
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #6a6a6a;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 70%; }
  .trand-img {
    width: 100%;
    height: 590px; }
    .trand-img img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .trand-item {
    width: 50%; }
    .trand-item:nth-child(2) {
      margin-left: 30px; }

.diamond_info-icon {
  width: 50px; }
.diamond_info-title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat";
  margin-left: 30px; }
.diamond_info {
  margin-top: 50px; }
.diamond_info-item + .diamond_info-item {
  margin-top: 25px; }
.diamond_info-item {
  display: flex;
  align-items: center; }

.products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; }
  .products_links {
    display: flex;
    align-items: center;
    justify-content: center; }
    .products_links .btn-purp {
      background: transparent !important;
      color: #000000; }
  .products_badge {
    position: absolute;
    top: 8px;
    left: 9px;
    padding: 4px 12px;
    border: 1px solid #6a6a6a;
    font-size: 12px;
    font-weight: 700;
    font-family: "Montserrat";
    color: #b777be; }
  .products-price {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #b777be; }
  .products-sale {
    font-size: 12px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #6a6a6a;
    text-decoration: line-through;
    margin-top: 25px; }
  .products-title {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #000000;
    margin-top: 30px;
    position: relative; }
    .products-title::after {
      content: '';
      width: 77px;
      height: 1px;
      background-color: #b777be;
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%); }
  .products-img {
    width: 156px;
    height: 161px;
    margin: 0 auto; }
    .products-img img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .products-item {
    width: 25%;
    background-color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    border: 1px solid #f4f4f4;
    position: relative; }
    .products-item:hover {
      z-index: 2;
      box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3); }

.service {
  margin-top: 162px; }
  .service_info + .service_info {
    margin-top: 40px; }
  .service_info_text {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 10px;
    color: #6a6a6a; }
  .service_info_title {
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 15px;
    color: #000000; }
  .service_line {
    width: 77px;
    height: 1px;
    background-color: #b777be;
    display: inline-block; }
  .service_diamond {
    position: absolute;
    bottom: -110px;
    right: -110px; }
  .service_img {
    width: 100%;
    height: 447px; }
    .service_img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .service_item {
    width: 47%;
    position: relative; }
  .service_block {
    margin-top: 38px; }
  .service_text {
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #6a6a6a;
    margin-top: 20px; }
  .service_top {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.diler {
  margin-bottom: 100px;
  background-color: #f3f3f6;
  margin-top: 120px;
  padding: 90px 0; }
  .diler_item_title {
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat";
    margin-left: 40px; }
  .diler_item {
    width: 49%;
    border: 1px solid #b777be;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 80px; }
  .diler_block {
    display: flex;
    justify-content: space-between;
    margin-top: 40px; }
  .diler_description {
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 20px; }
  .diler_title {
    text-align: center; }

.video_block {
  margin-top: 40px;
  width: 100%;
  height: 600px; }
  .video_block iframe {
    width: 100%;
    height: 100%; }

.factory_text {
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat"; }
.factory_btn {
  margin-top: 40px; }
.factory_img {
  width: 100%;
  height: 280px; }
  .factory_img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.factory_item {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
.factory_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px; }

.about {
  margin: 100px 0; }
  .about_info_text {
    font-size: 12px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #6a6a6a;
    margin-top: 10px; }
  .about_info_title {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #000000; }
  .about_info {
    margin-top: 20px;
    padding-left: 10px;
    border-left: 1px solid #b777be; }
  .about_img {
    width: 100%;
    height: 200px;
    position: relative;
    cursor: pointer; }
    .about_img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .about_img span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .about_item {
    width: calc(33.33% - 30px);
    margin: 15px; }
  .about_block {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    padding-top: 30px; }

.contact_diamond img {
  margin-bottom: -10px; }
.contact_social_icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: flex-start;
  margin-right: 15px; }
.contact_social_title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat"; }
  .contact_social_title a {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #b777be;
    margin-top: 5px;
    display: inline-block;
    text-decoration: underline; }
.contact_social {
  display: flex;
  align-items: flex-start;
  margin-top: 30px; }
.contact_map {
  width: 60%; }
.contact_info {
  width: 40%;
  padding: 70px 35px 0 35px;
  background-color: #000;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  font-family: "CG"; }
.contact_block {
  display: flex; }

.footer {
  background-color: #e5e5e5;
  margin-top: 150px;
  padding: 23px 0; }
  .footer_bottom_text {
    font-size: 12px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #6a6a6a;
    text-transform: uppercase; }
  .footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px; }
  .footer_middle {
    text-align: center;
    font-size: 9px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #6a6a6a; }
  .footer_left {
    flex-direction: row-reverse; }
    .footer_left .header-social-phone {
      margin-right: 0;
      margin-left: 30px; }
  .footer_social_item {
    margin: 0 15px; }
  .footer_social_block {
    display: flex;
    margin-top: 12px;
    align-items: center; }
  .footer_social_title {
    font-size: 9px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #000000;
    text-align: center; }
  .footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }
@media screen and (max-width: 991px) {
  .service_diamond img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

  .service_diamond {
    bottom: -90px;
    right: -70px;
    width: 350px;
    height: 280px; }

  .trand-item:nth-child(2) {
    margin-left: 0; }

  .about_item {
    width: calc(50% - 30px); }

  .service_item + .service_item {
    margin-top: 50px; }

  .service_block {
    flex-direction: column; }

  .service_item {
    width: 100%; }

  .products-item {
    width: 50%; }

  .products {
    flex-wrap: wrap;
    margin-top: 30px; }

  .trand_left {
    margin-right: auto; }

  .trand-item {
    width: 100%; }

  .trand {
    flex-direction: column-reverse;
    margin-top: 0; }

  .header-location-item {
    margin-top: 10px; }

  .header-location {
    flex-direction: column-reverse; }

  .header-social-links {
    margin-top: 10px; }

  .header-social {
    flex-direction: column; } }
@media screen and (max-width: 767px) {
  .service_diamond {
    display: none; }

  .footer_bottom_text {
    text-align: center; }

  .footer_bottom_text + .footer_bottom_text {
    margin-top: 12px; }

  .footer_bottom {
    flex-direction: column; }

  .footer_left {
    margin-top: 15px; }

  .footer_social {
    margin-top: 15px; }

  .footer_top {
    flex-direction: column; }

  .contact_info_title {
    text-align: center; }

  .contact_info {
    width: 100%; }

  .contact_map {
    width: 100%;
    height: 350px; }

  .contact_block {
    flex-direction: column; }

  .about_img {
    height: 260px; }

  .about_item {
    width: calc(100% - 30px); }

  .factory_btn {
    margin-left: auto;
    margin-right: auto; }

  .factory_block {
    flex-direction: column;
    margin-top: 100px; }

  .factory_item {
    width: 100%;
    text-align: center; }

  .factory_item + .factory_item {
    margin-top: 50px; }

  .diler {
    margin-bottom: 0; }

  .video_block {
    height: 380px; }

  .diler_item + .diler_item {
    margin-top: 20px; }

  .diler_item {
    width: 100%; }

  .diler_block {
    flex-direction: column; }

  .service_top_left {
    text-align: center; }

  .service_top_right {
    display: none; }

  .trand-img {
    height: 350px; }

  .header-social-mobile {
    display: flex; }

  .header-nav-wrap.active {
    transform: translateX(0); }

  .header-mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px; }

  .header-location-title:nth-child(2) {
    text-align: center; }

  .header-social {
    margin-bottom: 10px; }

  .header-location {
    margin-bottom: 15px; }

  .header-nav-link {
    font-size: 18px;
    margin: 15px 0;
    display: inline-block; }

  .header-nav-wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    transform: translateX(100%);
    transition: all 0.4s ease; }

  .header-nav {
    width: 88%;
    height: 100%;
    background-color: #e5e5e5;
    flex-direction: column;
    justify-content: flex-start !important;
    padding-top: 30px; }

  .header-location-dn {
    display: none; }

  .header-social-dn {
    display: none; }

  .hamburger {
    display: block;
    cursor: pointer; } }
@media screen and (max-width: 480px) {
  .footer {
    margin-top: 0; }

  .about {
    margin: 60px 0; }

  .factory_block {
    margin-top: 60px; }

  .diler_item_title {
    margin-left: 0;
    text-align: center;
    margin-top: 10px; }

  .diler_item {
    flex-direction: column;
    padding: 40px 20px; }

  .diler {
    margin-top: 0;
    padding: 60px 0; }

  .service_info_text {
    text-align: center; }

  .service_line {
    display: block;
    margin: 0 auto; }

  .service_info_title {
    margin-top: 5px;
    text-align: center; }

  .service_info + .service_info {
    margin-top: 15px; }

  .service_item + .service_item {
    margin-top: 25px; }

  .service_img {
    height: 300px; }

  .service {
    margin-top: 60px; }

  .trand-product {
    width: calc(33.33% - 20px);
    margin: 10px; }

  .contact_diamond img {
    width: 100%;
    height: 150px; }

  .trand-products {
    margin: 0 -10px; }

  .trand_sub-title {
    text-align: center;
    width: 100%;
    margin-bottom: 10px; }

  .trand-img {
    height: 230px; }

  .trand-img img {
    object-fit: cover; }

  .main-title {
    text-align: center;
    font-size: 40px;
    margin-top: 10px; }

  .btn-purp {
    padding: 15px 25px;
    margin-left: auto;
    margin-right: auto; }

  .main_slider-info-item {
    font-size: 12px; }

  .main_slider-item {
    background-position: left center; }

  .main_slider-sub-title {
    font-size: 35px;
    line-height: 35px;
    margin-top: 15px;
    text-align: center; }

  .main_slider-title {
    font-size: 40px;
    line-height: 45px;
    text-align: center; } }
@media screen and (max-width: 400px) {
  .products-item {
    width: 100%; }

  .products {
    flex-direction: column; } }
@media screen and (max-width: 340px) {
  .main_slider-title {
    font-size: 35px; } }

/*# sourceMappingURL=main.css.map */
