//min width 576px
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  //min width 576px
}

//min width 768px
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  //min width 768px
}

//min width 992px
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  //min width 992px
}

//min width 1200px
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  //min width 1200px
}

//max width 1450px
@media screen and (max-width: 1450px) {
  //max width 1450px
}

//max width 1199px
@media screen and (max-width: 1199px) {
  //max width 1199px
}

//max width 991px
@media screen and (max-width: 991px) {
  .header-location-item{
    margin-top: 10px;
  }
  .header-location{
    flex-direction: column-reverse;
  }
  .header-social-liks{
    margin-top:10px;
  }
  .header-social{
    flex-direction: column;
  }
  //max width 991px
}

//max width 767px
@media screen and (max-width: 767px) {
  .header-social-mobile{
    display: flex;
  }
  .header-nav-warp.active{
    transform: translateX(0);
  }
  .header-mobile-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .header-location-title:nth-child(2){
    text-align: center;
  }
  .header-social{
    margin-bottom: 15px;
  }
  .header-nav-link{
    margin-bottom: 15px;
  }
  .haeder-nav-warp{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    transform: translateX(100%);
    transition: all 0.4s ease;
  }
  .header-nav{
    width: 88%;
    height: 100%;
    background-color: #e5e5e5;
    flex-direction: column;
    justify-content: flex-start !important; 
    padding-top: 30px;
  }
  .header-location-dn{
    display: none;
  }
  .header-social-dn{
    display: none;
  }
  .hamburger{
    display: block;
    cursor: pointer;
  }
  //max width 767px
}

//max width 575px
@media screen and (max-width: 575px) {
  //max width 575px
}

//max width 480px
@media screen and (max-width: 480px) {
  //max width 480px
}

//max width 400px
@media screen and (max-width: 400px) {
  //max width 400px
}

@media screen and (max-width: 340px) {
}
